[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-on-heroku = "*"
django-cors-headers = "*"
djangorestframework = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
